#Ignore Compiled Files
backend/database/forum.db
TODO
test_forum.db
backend/handlers/test_forum.db
backend/database/test_forum.db
/.github
forum.db
backend/queries/test_forum.db
.qodo
.trae
application.log
.vscode
handlers/data